body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark-mode {
    --background-color: #181818;
    --text-color: #ffffff;
}

.hidden {
    display: none;
}

.welcome-screen, .main-app {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.counter {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

#rankingList {
    list-style: none;
    padding: 0;
}

#rankingList li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

aside {
    margin-top: 20px;
}
